@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html{
  scroll-behavior: smooth;
}

.container {
  padding: 100px 0;
  position: relative;
}

.row {
  width: 100%;
  max-width: 1284px;
  margin: 0 auto;
}

.section__title{
  margin-bottom: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  color: rgb(100, 21, 255);
}

.section__subtitle {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
}

.section__para{
  font-size: 18px;
  margin-top: 16px;
  font-weight: 500;
  color: rgb(124, 139, 161);
}

.main__color {
  color: rgba(100, 21, 255);
}

.main__color--ii {
  color: rgba(36, 62, 99);
}

.learn__more{
  background-color: rgb(100, 21, 255);
  color: rgb(247, 250, 252);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 9999px;
  padding: 12px 32px;
  transition: all 300ms ease;
}

.learn__more:hover{
  filter: grayscale(0.3);
}

nav {
  height: 80px;
  display: flex;
}

li {
  list-style-type: none;
  position: relative;
  transition: opacity 300ms ease;
}

a {
  text-decoration: none;
}

body{
  max-width: 100vw;
  overflow-x: hidden;
  line-height: 1.5;
  margin-left: 32px;
  margin-right: 32px;
}

img {
  width: 100%;
  height: 100%;
}

button{
  border: none;
  cursor: pointer;
}


/*

NAVIGATOR

*/

.nav__container {
  width: 100%;
  max-width: 1284px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 32px;
}

.nav__logo--wrapper {
  display: flex;
  align-items: center;
}

.nav__logo--wrapper:hover .nav__logo--name {
  color: rgba(100, 21, 255);
}

.nav__logo {
  width: 40px;
}

.nav__logo--name {
  color: rgba(36, 62, 99);
  transition: all 300ms ease;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
  padding-left: 12px;
}

.nav__links {
  display: flex;
}

.menu__links{
  display: flex;
  flex-direction: column;
}

.nav__link {
  margin: 24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.menu__link{
  margin: 12px 0;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.link__hover-effect {
  color: rgba(36, 62, 99);
  transition: all 300ms ease;
}

.link__hover-effect:hover {
  color: rgb(100, 21, 255);
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -4px;
  right: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(100, 21, 255);
  transition: all 300ms ease;
}

.link__hover-effect:hover::after {
  opacity: 1;
}

.nav__links--normal {
  display: flex;
}

.menu__links--normal{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__links--login{
  display: flex;
  margin-left: 32px;
  padding-right: 0;
}

.menu__links--login{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.nav__link--login{
  margin-right: 8px;
}

.menu__link--login{
  margin: 12px 0 4px 0;
  font-size: 18px;
}

.nav__link--last{
  margin-right: 0;
}

.menu__link--last{
  margin-top: 18px;
}

.nav__link--primary {
  background-color: rgb(100, 21, 255);
  color: rgb(247, 250, 252);
  border-radius: 9999px;
  padding: 12px 40px;
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  text-decoration: none;
  filter: grayscale(0.2);
}

.menu__btn{
  background-color: transparent;
  right: 36px;
  top: 42px;
  border: none;
  font-size: 24px;
  display: none;
  transition: all 300ms ease;
}

.menu__btn:hover{
  color: rgb(100, 21, 255);
}

.menu__btn--close{
  background-color: transparent;
  position: fixed;
  top: 25px;
  right: 23px;
  border: none;
  font-size: 24px;
  transition: all 300ms ease;
}

.menu__btn--close:hover{
  color: rgb(100, 21, 255);
}

.menu__backdrop{
  position: fixed;
  top: 16px;
  right: 10px;
  left: 10px;
  background-color: white;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 8px;
  padding: 32px;
  z-index: 100;
  transform: translateX(110%);
  transition: all 300ms;
}

.menu--open .menu__backdrop{
  transform: translateX(0%);
}

.menu--open .menu__btn{
  display: none;
}


/*

HEADER

*/

header {
  height: calc (100vh - 80px);
}

.header__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__description {
  width: 40%;
}

.header__para {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 18px;
  opacity: 0.85;
}

.header__email--wrapper {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 448px;
  height: 68px;
}

.btn {
  border-radius: 9999px;
  border: 1px solid rgb(226, 232, 240);
  background-color: rgb(100, 21, 255);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: rgb(247, 250, 252);
  width: 160px;
  position: absolute;
  right: 7px;
  top: 7px;
  bottom: 7px;
  transition: all 300ms ease;
}

.btn:hover {
  filter: grayscale(0.3);
}

.header__email--input {
  width: 100%;
  border: 2px solid rgb(226, 232, 240);
  border-radius: 9999px;
  padding-left: 32px;
  padding-right: 16px;
  font-weight: 500;
  font-size: 16px;
  color: rgba(36, 62, 99);
  transition: all 300ms ease;
  outline: none;
}

.header__email--input:hover {
  border-color: grey;
}

.header__email--input:focus {
  border: 2px solid rgb(100, 21, 255);
}

.trusted__customers--title {
  margin-top: 80px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: rgb(160, 174, 192);
}

.trusted__customers--img {
  margin-top: 16px;
  opacity: 0.5;
  padding-right: 80px;
}

.header__img--wrapper {
  width: 60%;
  z-index: 1;
}

.svg__landing {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 256px;
  width: 256px;
  transform: translateX(-63%);
  filter: grayscale(1) invert(1);
  opacity: 0.25;
}

/*

FEATURES

*/

.features__row{
  max-width: 1024px;
}

.features__title{
  text-align: center;
}

.features__subtitle{
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1.5px;
}

.features__para{
  text-align: center;
  max-width: 576px;
  margin-right: auto;
  margin-left: auto;
}

.feature__wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature{
  display: flex;
  width: calc(100% / 3);
  padding: 24px 24px;
}

.feature__img--wrapper{
  border: 1px solid rgb(226, 232, 240);
  border-radius: 50%;
  padding: 20px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature__img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.feature__title{
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgba(36, 62, 99);
}

.feature__para{
  font-weight: 500;
  line-height: 2;
  color: rgb(124, 139, 161);
}

.svg__features{
  position: absolute;
  width: 250px;
  bottom: 0;
  right: 0;
  transform: translate(50%, 30%);
  opacity: 0.25;
}

/*

QUALITY WORK

*/

.qualitywork__row{
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
}

.qualitywork__description{
  width: 50%;
  padding-right: 64px;
}

.qualitywork__img--wrapper{
  position: relative;
  width: 50%;
}

.qualitywork__img{
  border: 1px solid rgb(226, 232, 240);
  border-radius: 5px;
  width: 100%;
}

.qualitywork__para{
  margin-bottom: 32px;
}

.svg__qualitywork{
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 40%);
  fill: currentcolor;
  color: rgb(100, 21, 255);
  z-index: -1;
}

/*

STEPS

*/

.steps__row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.steps__img--container{
  width: 50%;
}

.steps__img--wrapper{
  width: 100%;
  position: relative;
}

.steps__img{
  width: 100%;
}

.steps__description{
  width: 50%;
  padding-left: 64px;
  padding-top: 48px;
  padding-bottom: 32px;
}

.steps__wrapper{
  margin-top: 48px;
}

.step{
  display: flex;
  margin-top: 32px;
}

.step__number{
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
  color: rgb(203, 213, 224);
}

.step__description{
  margin-left: 24px;
}

.step__title{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.step__para{
  margin-top: 12px;
  max-width: 320px;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.5px;
  color: rgb(113, 128, 150);
}

.svg__steps{
  position: absolute;
  width: 25%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 45%);
  fill: currentColor;
  color: rgb(100 21 255);
  opacity: 0.15;
  z-index: -1;
}


/*

VALUES

*/

.values__row{
  display: flex;
  flex-wrap: wrap-reverse;
}

.values__description{
  width: 50%;
  padding-right: 64px;
}

.values__para{
  margin-top: 32px;
}

.values__wrapper{
  margin-top: 32px;
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
}

.value{
  margin-right: 24px;
  width: 50%;
}

.values__illustration--wrapper{
  width: 50%;
}

.value__title{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.value__img--wrapper,
.value__img--wrapper-ii{
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 8px;
}

.value__img--wrapper{
  background-color: rgb(154, 230, 180);
}

.value__img--wrapper-ii{
  background-color: rgb(254, 178, 178);
}

.value__img{
  width: 20px;
  height: 20px;
  color: rgb(39 103 73);
}

.value__img--ii{
  color: rgb(155 44 44);
}

.value__name{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-left: 12px;
}

.value__para{
  font-size: 16px;
  color: rgb(113, 128, 150);
  line-height: 1.85;
}


/*

PRICING

*/

.pricing__title,
.pricing__subtitle,
.pricing__para{
  text-align: center;
}

.pricing__para{
  max-width: 576px;
  margin-right: auto;
  margin-left: auto;
}

.prices__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.price__column{
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.price__i,
.price__ii,
.price__iii{
  width: 90%;
  max-width: 348px;
  margin-top: 64px;
  border: 1px solid rgb(226, 232, 240);
  border-top: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
}

.price__i{
  background-color: rgb(255, 255, 255);
}

.price__ii{
  border: 1px solid rgb(102, 126, 234);
  background: linear-gradient(135deg,
  rgb(76, 81, 191) 0%,
  rgb(102, 126, 234) 100%);
}

.price__i::before,
.price__ii::before,
.price__iii::before{
  content: "";
  position: absolute;
  top: -8px;
  left: -1px;
  right: -1px;
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: linear-gradient(115deg,
  rgb(56, 178, 172) 0%,
  rgb(129, 230, 217) 100%);
}

.price__ii::before{
  background: rgb(76, 81, 191);
}

.price__iii::before{
  background: linear-gradient(115deg,
  rgb(245, 101, 101) 0%,
  rgb(254, 178, 178) 100%);
}

.price__top-row{
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 2px solid rgb(226, 232, 240);  
}

.price__ii--top-row{
  border-bottom: 2px solid rgb(102, 126, 234);
}

.price__title{
  font-size: 20px;
  font-weight: 700;
}

.price__amount{
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 48px;
  font-weight: 700;
}

.price__duration{
  font-weight: 700;
  letter-spacing: 1.25px;
  color: rgb(160 174 192);
}

.price__mid-row{
  border-bottom: 2px solid rgb(226, 232, 240);
  padding: 32px;
}

.price__ii--mid-row{
  border-bottom: 2px solid rgb(102, 126, 234);
}

.price__features--title{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.price__feature{
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(113, 128, 150);
}

.price__ii--color-white{
  color: whitesmoke;
}

.price__bottom-row{
  padding: 32px;
}

.buy__now{
  background: linear-gradient(115deg,
  rgb(56, 178, 172) 0%,
  rgb(129, 230, 217) 100%);
  border-radius: 9999px;
  padding: 16px 64px;
  color: rgb(247, 250, 252);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  transition: all 350ms ease;
}

.buy__now:hover{
  transform: translate(1px, -1px);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.8);
}

.buy__now--ii:hover{
  box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.8);
}

.buy__now:active{
  transform: translate(-1px, 1px);
  box-shadow: none;
}

.buy__now--ii{
  color: rgb(76, 81, 191);
  background: white;
}

.buy__now--iii{
  background: linear-gradient(115deg,
  rgb(245, 101, 101) 0%,
  rgb(254, 178, 178) 100%);
}

.svg__pricing{
  position: absolute;
  width: 256px;
  height: 256px;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 10%);
  opacity: 0.25;
  z-index: -10;
}

/*

USERS

*/

#users{
  padding-bottom: 132px;
}

.users__wrapper{
  background-color: rgb(100, 21, 255);
  padding: 96px 0;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.users__content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.users__para{
  width: 50%;
  font-size: 30px;
  font-weight: 700;
  color: white;
  z-index: 1;
}

.users__buttons{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.get__started--button,
.contact__us--button{
  border-radius: 9999px;
  padding: 24px 40px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  transition: all 300ms ease;
}

.get__started--button{
  margin-right: 32px;
  background-color: rgb(245, 101, 101);
  filter: brightness(115%);
}

.get__started--button:hover{
  filter: brightness(100%);
}

.contact__us--button{
  background-color: transparent;
  border: 1px solid white;
}

.contact__us--button:hover{
  color: rgb(100, 21, 255);
  background-color: white;
}

.svg__users--i,
.svg__users--ii{
  position: absolute;
  height: 320px;
  width: 320px;
  color: rgb(80, 17, 204);
  opacity: 0.5;
}

.svg__users--i{
  bottom: 0;
  left: 0;
  transform: translate(-15%, 40%);
}

.svg__users--ii{
  top: 0;
  right: 0;
  transform: translate(40%, -80%);
}

/*

FOOTER

*/

footer{
  background-color: rgb(100, 21, 255);
  margin: -32px;
  position: relative;
  overflow: hidden;
}

.footer__top--section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 32px;
  margin-left: 32px;
}

.footer__links--column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1;
}

.footer__links--title{
  margin-bottom: 16px;
  color: whitesmoke;
  font-weight: 700;
}

.footer__list{
  display: flex;
  flex-direction: column;
}

.footer__link{
  margin-top: 8px;
}

.footer__link--hover-effect{
  position: relative;
  color: whitesmoke;
  font-size: 14px;
  font-weight: 500;
}

.footer__link--hover-effect::after{
  content: "";
  background-color: whitesmoke;
  position: absolute;
  height: 2px;
  bottom: -4px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 200ms ease;
}

.footer__link--hover-effect:hover::after{
  opacity: 1;
}

.footer__divider{
  height: 2px;
  background-color: rgb(116, 44, 255);
  margin: 64px 32px;
}

/* footer bottom row */

.footer__bottom--section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 32px;
}

.footer__logo--wrapper{
  display: flex;
  align-items: center;
}

.footer__img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  margin-right: 8px;
}

.footer__logo--name{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 900;
}

.footer__copyright{
  color: rgb(203, 213, 224);
  font-size: 16px;
  font-weight: 500;
}

.footer__media--wrapper{
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.footer__media--img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background-color: rgb(247, 250, 252);
  color: rgb(26, 32, 44);
  margin-left: 16px;
  padding: 16px;
  border-radius: 50%;
  transition: all 300ms ease;
}

.footer__media--img:hover{
  opacity:0.7;
}

.svg__footer--i,
.svg__footer--ii{
  position: absolute;
  width: 320px;
  color: rgb(80, 17, 204);
  opacity: 0.5; 
}

.svg__footer--i{
  top: 0;
  left: 0;
  transform: translate(-30%, -40%);
}

.svg__footer--ii{
  bottom: 0;
  right: 0;
  transform: translate(35%, 60%);
}

/* media queries */

@media (max-width: 1040px){

  .nav__links{
    display: none;
  }

  .menu__btn{
    display: block;
  }

  .header__row{
    display: flex;
    flex-direction: column;
  }

  .header__description{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header__subtitle{
    font-size: 30px;
  }

  .trusted__customers--title{
    margin-top: 48px;
  }

  .trusted__customers--img{
    padding: 0;
  }

  .header__img--wrapper{
    padding: 32px;
  }
}


@media (max-width: 1100px){

  .price__column{
    width: 100%;
  }
}


@media (max-width: 948px){

  .header__description{
    width: 65%;
  }

  .header__para{
    margin: 20px 0;
  }

  .feature{
    width: 50%;
  }

  .qualitywork__subtitle{
    font-size: 30px;
  }

  .qualitywork__para{
    font-size: 16px;
  }

  .steps__subtitle{
    font-size: 30px;
  }

  .values__subtitle{
    font-size: 30px;
  }

  .values__para{
    font-size: 16px;
  }

  .value{
    width: 100%;
    margin-bottom: 16px;
  }

}

@media (max-width: 796px){

  .header__description{
    width: 70%;
  }

  .header__img--wrapper{
    width: 70%;
  }

  .qualitywork__row{
    display: flex;
    flex-direction: column-reverse;
  }

  .qualitywork__title{
    margin-top: 64px;
  }
   
  .qualitywork__img--wrapper{
    width: 65%;
  }

  .qualitywork__description{
    width: 70%;
    text-align: center;
    padding: 0;
  }

  .steps__row{
    display: flex;
    flex-direction: column;
  }

  .steps__title{
    margin-top: 72px;
  }

  .steps__subtitle{
    text-align: center;
  }

  .steps__img--container{
    width: 70%;
  }

  .steps__description{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .step{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .step__number{
    margin-bottom: 12px;
  }

  .step__description{
    text-align: center;
    margin: 0;
  }

  .values__row{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .values__illustration--wrapper{
    width: 70%;
  }

  .values__description{
    width: 70%;
    text-align: center;
    padding: 0;
  }

  .values__title{
    margin-top: 64px;
  }

  .value__title{
    display: flex;
    justify-content: center;
  }

  .value{
    margin-right: 0;
  }
}

@media (max-width: 694px){

 .header__email--input{
    height: 54px;
  }

  .btn{
    width: 100%;
    left: 0;
    right: 0;
    transform: translateY(110%);
  }

  .trusted__customers--title{
    margin-top: 100px;
  }

  .feature{
    width: 100%;
  }
}

@media (max-width: 576px){
  .header__img--wrapper{
    width: 80%;
  }

  .qualitywork__img--wrapper{
    width: 80%;
  }

  .qualitywork__description{
    width: 85%;
  }

  .steps__img--container{
    width: 80%;
  }

  .step__description{
    width: 80%;
  }

  .values__illustration--wrapper{
    width: 80%;
  }

  .values__description{
    width: 80%;
  }
}

@media (max-width: 528px){

  .features__subtitle{
    font-size: 30px;
  }

  .features__para{
    font-size: 16px;
  }

  .header__description{
    width: 100%;
  }

  .header__img--wrapper{
    width: 100%;
  }

}

@media (max-width: 456px){
  .qualitywork__img--wrapper{
    width: 95%;
  }

  .qualitywork__description{
    width: 95%;
  }
}

@media (max-width: 410px) {
  
  .trusted__customers--img{
    margin-bottom: 16px;
  }

  .header__img--wrapper{
    padding: 0;
  }

  .steps__img--container{
    width: 90%;
  }

  .step__description{
    width: 90%;
  }

  .values__illustration--wrapper{
    width: 90%;
  }

  .values__description{
    width: 90%;
  }

}

@media (max-width: 388px){
  .feature{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature__img--container{
    max-width: 66px;
  }

  .feature__img--wrapper{
    margin: 0;
  }

  .feature__title{
    text-align: center;
    margin-top: 8px;
  }

  .feature__para{
    text-align: center;
  }

  .qualitywork__img--wrapper{
    width: 100%;
  }

  .qualitywork__description{
    width: 100%;
  }

  .steps__img--container{
    width: 100%;
  }

  .step__description{
    width: 100%;
  }

  .values__illustration--wrapper{
    width: 100%;
  }

  .values__description{
    width: 100%;
  }
}